.layout-extra-3col-stacked > .layout-extra-content-top-wrapper,
.layout-extra-3col-stacked > .layout-extra-content-bottom-wrapper {
  width: 100%;
  clear: both;
}

.layout-extra-3col-stacked > .layout-extra-content-left-wrapper {
  float: left;
  clear: none;
  width: 25%;
  margin-left: -100%;
}

.layout-extra-3col-stacked > .layout-extra-content-right-wrapper {
  float: left;
  clear: none;
  width: 25%;
  margin-left: -25%;
}

.layout-extra-3col-stacked > .layout-extra-content-middle-wrapper {
  float: left;
  clear: none;
  width: 100%;
}

.layout-extra-3col-stacked.layout-extra-sidebar-left > .layout-extra-content-middle-wrapper > * {
  margin-left: 25%;
}

.layout-extra-3col-stacked.layout-extra-sidebar-right > .layout-extra-content-middle-wrapper > * {
  margin-right: 25%;
}

.layout-extra-content-left,
.layout-extra-content-middle,
.layout-extra-content-right {
  box-sizing: border-box;
  margin: 0.4em;
}
.layout-extra-content-left {
  margin-left: 0;
}
.layout-extra-content-right {
  margin-right: 0;
}
