.layout-extra-3col-stacked-flexible {
  display: table;
  width: 100%;
}

.layout-extra-3col-stacked-flexible > .layout-extra-content-top-wrapper,
.layout-extra-3col-stacked-flexible > .layout-extra-content-middlerow-wrapper,
.layout-extra-3col-stacked-flexible > .layout-extra-content-bottom-wrapper {
  display: table-row;
  width: 100%;
}

.layout-extra-3col-stacked-flexible > div > .layout-extra-content-top,
.layout-extra-3col-stacked-flexible > div > .layout-extra-content-bottom,
.layout-extra-3col-stacked-flexible > div > .layout-extra-content-middle,
.layout-extra-3col-stacked-flexible > div > .layout-extra-content-left,
.layout-extra-3col-stacked-flexible > div > .layout-extra-content-right {
  display: table-cell;
  vertical-align: top;
}

.layout-extra-3col-stacked-flexible > div > .layout-extra-content-top-wrapper,
.layout-extra-3col-stacked-flexible > div > .layout-extra-content-bottom-wrapper {
  column-span: all;
}

.layout-extra-3col-stacked-flexible.layout-extra-sidebar-left > div > .layout-extra-content-middle,
.layout-extra-3col-stacked-flexible.layout-extra-sidebar-right > div > .layout-extra-content-middle {
  column-span: 2;
}

.layout-extra-3col-stacked-flexible.layout-extra-sidebar-left.layout-extra-sidebar-right > div > .layout-extra-content-middle {
  column-span: all;
}

.layout-extra-content-left,
.layout-extra-content-middle,
.layout-extra-content-right {
  box-sizing: border-box;
  margin: 0.4em;
}
.layout-extra-content-left {
  margin-left: 0;
}
.layout-extra-content-right {
  margin-right: 0;
}
